*{
    margin: 0;
    box-sizing: border-box;
}
.head{
    height: 100px;
    width: 100%;
    background-color: purple;
    text-align: center;
    line-height: 3;
    color: white;
    font-size: 20px;
    flex-wrap: wrap;
}
.div1{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.div1 h1{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

.div1 p{
    margin-bottom: 20px;
}

.div2{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.div2 h1{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

.div2 p{
    margin-bottom: 20px;
}

.div3{
    background-color: aqua;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
}

.div3 h1{
    margin-top: 20px;
    font-size: 30px;
    margin-bottom: 20px;
}

.div3 p{
    margin-bottom: 20px;
}